<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Inventory Manager</title>

    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });
    </script>
</head>

<body>

    <header>
        <%- include('partials/navbar') %>
    </header>

    <div class = "container">
        <h1>
            Pizza Inventory Editor
        </h1>

        <a class="waves-effect waves-light btn blue" href = "/list">
            <i class="material-icons left">arrow_back</i>Return
            </a>

        <a class="btn-small waves-effect waves-light btn green right" href= "/categories"> <i
            class="material-icons right">edit</i>Categories</a>

        <table class = "responsive-table">
            <thead>
                <tr>
                    <th>Item Name:</th>
                    <th>Price ($):</th>
                    <th>Quantity:</th>
                    <th>Total Assets:</th>
                    <th>Categories:</th>
                </tr>   
            </thead>

            <!-- Ask for Help Here-->
            <tbody> 

                <% for (let i = 0; i < ingredient.length; i++) { %>
               <tr>
                    <td><%= ingredient[i].ingredient_name %></td>
                    <td><%= ingredient[i].ingredient_price %></td>
                    <td><%= ingredient[i].ingredient_quantity %></td>
                    <td><%= ingredient[i].ingredient_quantity * ingredient[i].ingredient_price %></td>
                    <td><%= ingredient[i].category_name %> </td>
               </tr>
               <% } %>

            </tbody>
        </table>
        
        <br>

        <div class="section" id="Edit+Delete Information">
            <a class="btn-large waves-effect waves-light purple left modal-trigger" href="#edit">
                <i class="material-icons right">edit</i>Edit</a>

    
            <button class="btn-large waves-effect waves-light red right" href="/list/edit/<%=inventory_id %>/delete">
                <i class="material-icons right">delete</i>Delete</button>
        </div>
    
        <div class="modal" id="edit">

            <div class="modal-content">
                <form method="post" action="/list/edit/<%= inventory_id%>">
                    <h2>Edit Inventory:</h2>
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="nameInput">Item Name:</label>
                            <input type="text" name="name" id="nameInput" class="validate" data-length="50" required>
                        </div>
                     </div>
    
                    <div class="row">
                        <div class="input-field col s2">
                            <label for="priceInput">Price ($):</label>
                            <input type="text" name="price" id="priceInput" data-length="10">
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="input-field col s3">
                            <label for="quantityInput">Item Quantity:</label>
                            <input type="number" name="quantity" id="quantityInput" value=118 required>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="descriptionInput">Item Description:</label>
                            <input type="text" name="description" id="descriptionInput" data-length="150">
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light " type="submit">
                            <i class="material-icons right">send</i>
                            Continue
                        </button>
                        <button class="modal-close waves-effect waves-green btn-flat">Back</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script> M.AutoInit();</script>
</body>
</html>