<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pizza Inventory Manager</title>

        <!-- Compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />

        <style>
            .container {
                margin: 2vw auto;
            }
        </style>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var elems = document.querySelectorAll(".dropdown-trigger");
                var instances = M.Dropdown.init(elems, options);
            });
        </script>
    </head>

    <body>
        <header><%- include('partials/navbar') %></header>

        <div class="container">
            <h1>Transactions</h1>
            <table>
                <thead>
                    <tr>
                        <th>Transaction ID</th>
                        <th>Input/Output ID</th>
                        <th>Inventory ID</th>
                        <th>Date</th>
                        <th>Input/Output Quantity ID</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < transactions.length; i++) { %>
                    <tr>
                        <td><%= transactions[i].transaction_id %></td>
                        <td><%= transactions[i].input_output_id %></td>
                        <td><%= transactions[i].inventory_id %></td>
                        <td><%= transactions[i].date %></td>
                        <td><%= transactions[i].input_output_quantity_id %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        <script src="/scripts/autoInit.js"></script>
    </body>
</html>

